# Chapter 2: Foundation Programming Concepts in Python

Programming languages are tools to give instructions to the computer. Computer only understand binary code which is difficult for human to read. A computer program is written in the human-readable characters. A software called as a compiler or interpeter tranlates the program to binary code for execution by computer. The human readable version is called as source code while the binary is called as machine code.

This translation is done in two ways. One, it can translate each line of the source code into the machine code and give it immediately to the computer for executing it. This is called as an interpreter. Otherwise, it translates the whole program to a binary file. This is called as a compiler. Another popilar approach is to compile the program an intermediate language. This code in intermediate language can later be translated to machine code by the interpreter. Such interpreters are called just-in-time interpreter. As of now, fully interpreted languages are a thing of the past. Nowadays, either we have a compiled language or a just-in-time interpreted language.

The language we are going to use is Python which is compiled and interpreted language. A python program file is first converted to the compiled python bitcode, which is intepreted by the python interpreter.


To write a python script, you need a text editor and a python interpreter. You can download the python interpreter from https://www.python.org/downloads/. I suggest to use Visual Studio Code for text editor (https://code.visualstudio.com/) which provides fantastic support for python. Another option is to use a Jupyter environment. Here, we will be using the python interpreter which is bundled with the Jupyter environment for ease of explanation. However, you are suggested to use the text editor and interpreter.

## Constants and Variables

This program declares a variable *x* which is a name for the constant $5$. Variable is similar to the concept of an variable in algebra which you have seen in primary school. In the python interpreter, you can query for the value of the variable by writing the variable name. Go and run this code and see what it prints. Later, modify the value of x to $7$ and check whether it has been changed!

In [ ]:
x = 5
x

5

Strings are the values whichs are enclosed in the single quotes. A string value can contain sequence of alphabets, numbers, and all special characters. This is useful, for example, you want to assign a name or a telephone number.

In [ ]:
name = 'John'
x

5

It is also possible to assigned decimal numbers to these variables. Decimal values are called as floating point number.

In [ ]:
x = 5.0
x

5.0

**Boolean Constant**

Boolean constants are `True` or `False`.

In [ ]:
x = True
print(x)
x = False
print(x)

True
False

**Binary Numbers**

Binary numbers are represented as `0b<number>` where `<number>` is a bit string. Similary, hexadecimal numbers are represented as `0x<number>`.

In [ ]:
x = 0b111
print(x)
x = 0xFF
print(x)

7
255

## Relational Operations

Python provides the following relational operators: `>, >=, <=, <, ==, !=`. The operators `==` and `!=` checks for equals-to and not equals to (as in 2 equals-to 2, and 3 not equals-to 2). The result of this operation returns a boolean value.

These are used to compare the numbers, characters, and strings. Yes, you heard it right, characters and strings. Technically, these operators can be defined based on the data type.

In the case of numbers, the behavior is similar to their mathematical counterpart. In the case of characters, it uses the implementation defined by the interpreter. For example `'a' < 'b'` yields `True` while `'b' < 'A'` yields `False`. This is because, python compares its corresponding ASCII value. The ASCII value of `b` is the 98 and that of `A` is 65.

In [ ]:
print (1 > 5)
print (1 < 5)
print (2 == 2)
print (2 != 2)
print ('a' < 'b')
print ('b' < 'A')
print ('aBc' < 'abc')

False
True
True
False
True
False
True
136109671661360

## Logical Operators

Python provides the following logical operators which work in boolean values. These are: `and`, `or`, and `not`. These operators work on the following table called as truth table. `a and b` returns `True` when **both** `a` and `b` is `True`. `a or b` returns `False` when **atleast one of** `a` and `b` is True. `not a` inverts the value of `a`, i.e., returns `True` when `a` is True and *vice-versa*.

## Arithmatic Operators

These are normal arithmatic operators such as `+, -, \*, /`, and many others. A peculiar operator is `**` which stands for the power, as in $a^b$. Other one is a `//` which is integer division, which computes the quotient of two numbers. The last one is a `%` (called as modulo) which compute the remainder after division.

In [ ]:
x = 5
y = 7
print ("x + y = ", x+y)
print ("x*y = ", x*y)
print ("x/y = ", x/y)
print ("x//y = ", x//y)
print ("x - y = ", x-y)

x + y =  12
x*y =  35
x/y =  0.7142857142857143
x//y =  0
x - y =  -2

## Input/Output


To display something to the screen, python uses the `print` keyword. To take input from the keyboard, it uses the `input` keyword. Note, how you can concatenate the output.

In [ ]:
name = input("Enter your name ")
print("Hi", name, "nice to meet you!")

Enter your name Sam
Hi Sam nice to meet you!

## Data Types and Type Conversion

Data type is the type of data associated with the variable or constant. Python provides the follow built-in data types.
- int: Integers
- str: String and characters
- float: Decimal numbers
- complex: complex numbers
- bool: Boolean
- set, frozenset: Sets (as in set of objects)
- list, tuple, range: ordered collection of objects
- dict: Dictionary
- None: None type

Until now, we have seen the int, str, float, and bool data types. Other data types we will see in the next chapters.

`type` keywords gives the type data. Check for your self by running the code below.

In [ ]:
x = 4
print(type(x))
print(type('this is my name'))
print(type(4.0))

print(type("this is a string") == str)

<class 'int'>
<class 'str'>
<class 'float'>
True

The `input` keyword always returns a string. However, it is possible to change the data type.  Check for yourself!

In [ ]:
age = int(input("Enter your age "))
print("Your age is ", age)

Enter your age b

ValueError: ignored

Type conversion is also possible outside the `input` keyword.

Type conversion may be *loseless*, i.e., it doesn't looses information, or *lossy*, i.e., it losses information. For example, converting a float to int will remove the integer part, while the other way will work. Similarly, any number can be casted into a string but not the other way round. In the case of string, it will throw an error.

In [ ]:
x = 5.3
z = str(x)
print(type(z))
y = int(x)
print(y)

<class 'str'>
5

## Branching

Branching allows to the change the control flow of the program based on a condition. In python, a branching is introduced by `if: ... else: ....` statement. It is also possible to skip the `else ...` part if it is not required. In this example, it prints the message based on a condition.

In [ ]:
x = int(input("Enter your age: "))
if x < 24:
  print("You are young")
else:
  print("You are not so young")

Enter your age: 12
You are young

## Looping

Looping repeats the set of instructions depending on the condition. In python the keyword `while` allow the loop. This program prints the sum of the series $\sum\limits_{i=1}^{10}i*i$. The lines `5-7` runs for $10$ times. At each iteration of the loop, the value of `i` is increment by 1.

In [ ]:
sum = 0
i = 1
n = 10
while i <= n:
  print("i=", i)
  sum = sum + i*i
  i = i + 1
print(sum)

i= 1
i= 2
i= 3
i= 4
i= 5
i= 6
i= 7
i= 8
i= 9
i= 10
385

Another technique to loop is with the `for` loop. The `for` loop iterates over a fixed range. The `range(1,11, 1)` generates sequence of numbers from 1 to 10 (excluding 11) in the increments of 1. The `range` function has following format: `range(start, end, increment)`. By default the increment is 1.

In [ ]:
sum = 0
for i in range(1, 11, 1):
  sum = sum + i*i
print(sum)

385

Another way to implement the previous code. But, it is preferable to use the version above.

In [ ]:
sum = 0
for i in range(10, 0, -1):
  sum = sum + (i*i)
print(sum)

385

## Integer square root

In this part, we will implement a program to the print the integer square root of a number. For a given number $n$, it will compute $⌊\sqrt{n}⌋$. For example, for $10$ it prints $3$.

In the first version, the idea is simple. It iterates and increments the counter $i$ until the condition $(i+1)^2 \leq n$ is satisfied. Print the values to learn how it works.

In [ ]:
n=100
i=-1
while (i+1)**2 <= n:
  i=i+1
print(i)

10

## Functions

Function is a mechanism to group a bunch of statements for a specific purpose. It resembles to the function in mathematics. It takes a zero or more arguments and computes the value, except for one thing, that it may not always return a value. It is possible to group a collection of statements in a function

For example, if you want to compute the the integer square root of the number for the range 0 to 100, then is a neat programming practice to put it into a function.

A function has the following format:

```python
def function_name(inputs_arguments):
  # body of the function
  return value
```

A function is created by using the `def` keyword. You must have noted that python is indentation specific, i.e., the body of the function should be indented one space more relative to the definition.

In [ ]:
def square_root(n):
  i=-1
  while (i+1)**2 <= n:
    i=i+1
  return i

# now we have declared the function, we can use it
print(square_root(100))
# or better, print a collection of sqaure roots
for i in range(0, 5):
  print(square_root(i))

10
0
1
1
1
2

[0, 1, 1, 1, 2]

Other example of a function that doesn't return a value. This function prints the fibonacci series. It is a series which starts from $0, 1$ and subsequent number is the sum of the previous two numbers.

$0, 1, 1, 2, 3, 5, 8, \ldots$

In [ ]:
def fib(n):
  if n <= 1:
    print(0)
  elif n == 2:
    print(1)
  else:
    a = 0
    b = 1
    c = a+b
    for i in range(3, n+1):
      c = a+b
      a = b
      b = c
    print(c)


fib(5)
fib(6)

3
5

Although a better way to implement this is

In [ ]:
def fib(n):
  if n <= 1:
    return 0
  if n == 2:
    return 1;
  a = 0
  b = 1
  c = 0
  for i in range(3, n+1):
    c = a+b
    a = b
    b = c
  return c

print(fib(5))
print(fib(6))

3
5

## Questions

Write the following programs:

1. Compute one of positive root (assume 0 to be a positive number) of a polynomial of degree 3. If the root does not exist between $(0, 10k)$, then it should return -1. Assume that the margin of error is given as input. By default, the error tolerance is $0.0001$

2. A popular yet simple to express conjecture in mathematics is collatz conjecture. Start with a number $n \geq 1$, and form a sequence of the numbers by applying the function at each step on the result from the previous step until it reaches 1. The conjecture is that the sequence will always end in 1 for any starting integer $n$. Verify collatz conjecture for $n$ from  0 to 1000. For example, starting with $5$, the sequence formed is $[16, 8, 4, 2, 1]$. $f(n) = \begin{cases}
  n/2 & \mathit{n~is~even}\\
  3n+1 & \mathit{n~is~odd}
 \end{cases}
$.

3. Extend the square root method to compute the precise square root. The margin of error between the computed and actual should be minimum.  

5. Given three coordinates $(x_1, y_1)$,  $(x_2, y_2)$, and $(x_2, y_2)$. Check if these are colinear.  

6. Game of Dice: Two players takes turn to roll a dice. Each players get the points equal to the value of the dice roll. If the dice roll turns out to be a even number the points are given to the opponent player. Otherwise, the player get the points equals to twice the dice roll. The player who reaches 100 points wins the game. Assume that you are given a function `dice_roll()` which returns the value of the current dice rolled.

In [ ]:
def compute_value(c0, c1, c2, c3, i):
  return c0*(i**3) + c1*(i**2) + c2*i + c3

def polynomial_root(c0, c1, c2, c3, error=0.0001, step=0.01):
  i=0
  while i < 10_000:
    val = compute_value(c0, c1, c2, c3, i)
    # print("i=", i, " value = ", val )
    if abs(val - 0.0) < error:
      return i
    i=i+step
  return -1

print(polynomial_root(1.0, 0.0, 0.0, -1.0))

1.0000000000000007

In [ ]:
def collatz(n, max_steps=100_000_00):
  step = 0;
  while n > 1 and step < max_steps:
    if n%2 == 0:
      n = n//2
    else:
      n = 3*n+1
    step = step+1
  return True if n==1 else False

def verify_collatz(max):
  for i in range(1, max+1):
    if not collatz(i):
      print("failed to verify colltaz in 100_000_00 steps for ", i)
      return
  print("verified collatz until", max)


verify_collatz(10_000)

verified collatz until 10000

In [ ]:
def dice_roll():
  import random as rand
  return rand.randint(1,6)

def player1():
  roll = dice_roll()
  print("\tplayer 1 rolled ", roll)
  return roll

def player2():
  roll = dice_roll()
  print("\tplayer 2 rolled ", roll)
  return roll

def check(p1, p2):
  return p1 < 100 and p2 < 100

def score_board(p1, p2):
  print("Score Board: player 1 = ", p1, " player 2 = ", p2)

def game():
  p1 = 0
  p2 = 0
  while True:
    roll = player1()
    if roll%2 == 0:
      p2 = p2 + roll
    else:
      p1 = p1 + 2*roll
    score_board(p1, p2)
    if not check(p1, p2):
      break

    roll = player2()
    if roll%2 == 0:
      p1 = p1 + roll
    else:
      p2 = p2 + 2*roll
    score_board(p1, p2)
    if not check(p1, p2):
      break
  print("player 1 wins") if p1 > 100 else print("player 2 wins")

game()

	player 1 rolled  2
Score Board: player 1 =  0  player 2 =  2
	player 2 rolled  2
Score Board: player 1 =  2  player 2 =  2
	player 1 rolled  2
Score Board: player 1 =  2  player 2 =  4
	player 2 rolled  3
Score Board: player 1 =  2  player 2 =  10
	player 1 rolled  2
Score Board: player 1 =  2  player 2 =  12
	player 2 rolled  3
Score Board: player 1 =  2  player 2 =  18
	player 1 rolled  4
Score Board: player 1 =  2  player 2 =  22
	player 2 rolled  1
Score Board: player 1 =  2  player 2 =  24
	player 1 rolled  6
Score Board: player 1 =  2  player 2 =  30
	player 2 rolled  2
Score Board: player 1 =  4  player 2 =  30
	player 1 rolled  3
Score Board: player 1 =  10  player 2 =  30
	player 2 rolled  5
Score Board: player 1 =  10  player 2 =  40
	player 1 rolled  3
Score Board: player 1 =  16  player 2 =  40
	player 2 rolled  4
Score Board: player 1 =  20  player 2 =  40
	player 1 rolled  6
Score Board: player 1 =  20  player 2 =  46
	player 2 rolled  3
Score Board: player 1 =  20  player 2 =  52
	player 1 rolled  1
Score Board: player 1 =  22  player 2 =  52
	player 2 rolled  3
Score Board: player 1 =  22  player 2 =  58
	player 1 rolled  1
Score Board: player 1 =  24  player 2 =  58
	player 2 rolled  2
Score Board: player 1 =  26  player 2 =  58
	player 1 rolled  4
Score Board: player 1 =  26  player 2 =  62
	player 2 rolled  3
Score Board: player 1 =  26  player 2 =  68
	player 1 rolled  6
Score Board: player 1 =  26  player 2 =  74
	player 2 rolled  2
Score Board: player 1 =  28  player 2 =  74
	player 1 rolled  2
Score Board: player 1 =  28  player 2 =  76
	player 2 rolled  4
Score Board: player 1 =  32  player 2 =  76
	player 1 rolled  2
Score Board: player 1 =  32  player 2 =  78
	player 2 rolled  6
Score Board: player 1 =  38  player 2 =  78
	player 1 rolled  4
Score Board: player 1 =  38  player 2 =  82
	player 2 rolled  3
Score Board: player 1 =  38  player 2 =  88
	player 1 rolled  6
Score Board: player 1 =  38  player 2 =  94
	player 2 rolled  5
Score Board: player 1 =  38  player 2 =  104
player 2 wins